<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<!-- Define the header fragment -->
<header th:fragment="header" class="header">
    <div class="header__content">
        <a th:href="@{/}">
            <img class="header__logo" th:src="@{/images/logo.svg}" alt="UFoL"/>
        </a>
        <nav class="nav">
            <ul class="nav__menu">
                <li><a class="nav__link" th:href="@{/}"
                       th:classappend="${activePage == 'home'} ? 'nav__link--active'">
                    Domů</a></li>
                <li><a class="nav__link" th:href="@{/tabulka}"
                       th:classappend="${activePage == 'tabulka'} ? 'nav__link--active'">
                    Tabulka</a></li>
                <li><a class="nav__link" th:href="@{/zapasy}"
                       th:classappend="${activePage == 'zapasy'} ? 'nav__link--active'">
                    Zápasy</a></li>
                <li><a class="nav__link" th:href="@{/tymy}"
                       th:classappend="${activePage == 'tymy'} ? 'nav__link--active'">
                    Týmy</a></li>
                <li class="nav__item--login">
                    <a th:href="@{/login}" class="btn btn--login">Admin</a>
                </li>
            </ul>
            <!-- hamburger button -->
            <button class="nav__hamburger" aria-label="Otevřít menu" aria-expanded="false">
                <span class="nav__bar"></span>
                <span class="nav__bar"></span>
                <span class="nav__bar"></span>
            </button>
        </nav>
    </div>
</header>

<!-- Define the footer fragment -->
<footer th:fragment="footer" class="footer">
    <div class="footer__content">
        <div class="footer__column footer__column--brand">
            <a th:href="@{/}" class="footer__logo-link">
                <img class="footer__logo" th:src="@{/images/logo.svg}" alt="UFoL Logo" loading="lazy">
            </a>
            <p class="footer__text">© 2025 Univerzitní fotbalová liga</p>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Navigace</h3>
            <ul class="footer__list">
                <li><a th:href="@{/}" class="footer__link">Domů</a></li>
                <li><a th:href="@{/tabulka}" class="footer__link">Tabulka</a></li>
                <li><a th:href="@{/zapasy}" class="footer__link">Zápasy</a></li>
                <li><a th:href="@{/tymy}" class="footer__link">Týmy</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Sledujte nás</h3>
            <ul class="footer__list">
                <li><a th:href="@{/}" class="footer__link">Instagram</a></li>
                <li><a th:href="@{/}" class="footer__link">Facebook</a></li>
                <li><a th:href="@{/}" class="footer__link">ČAUS web</a></li>
            </ul>
        </div>
    </div>
</footer>

</html>
